%regular-sans {
  font-family: $helvetica;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.regular-sans { @extend %regular-sans; }

%medium-sans {
  font-family: $helvetica;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.2px;
}
.medium-sans { @extend %medium-sans; }

%medium-serif {
  font-family: $bangla;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0px;
}
.medium-serif { @extend %medium-serif; }

%large-serif {
  font-family: $bangla;
  font-size: 72px;
  line-height: 82px;
  letter-spacing: 0px;
}
.large-serif { @extend %large-serif; }

html {
  @extend %regular-sans;
  text-rendering: geometricPrecision;

  @include break(hand) {
    text-rendering: auto;
  }
}
