// Fonts
$helvetica: 'HelveticaNeue', sans-serif;
$bangla: 'bangla', serif;

// Colors
$blue: #3C42F2;
$teal: #A6EDFE;
$orange: #FD6C5B;
$yellow: #FED731;
$yellow-light: #FEF270;
$purple: #EFC4FD;
$pink: #FEC3CA;
$green: #A8FD64;

// Color assignments
$page-background: $blue;

$color-accent: #fff;
$color-default: #000;
$color-user: $yellow-light;
$color-cuisine: $teal;
$color-edited: $purple;
$color-breakfast: $yellow;
$color-main: $green;
$color-tapas: $pink;
$color-treat: $orange;

// Spacing
$space-medium: 25px;
$space-large: 50px;

$module-space: 80px;

// Breakpoints
$break-hand: 700px;
