// Fonts
$helvetica: 'HelveticaNeue', sans-serif;
$bangla: 'bangla', serif;

// Colors
$blue: #3C42F2;
$teal: #A6EDFE;
$orange: #FD6C5B;
$yellow: #FEF270;
$purple: #EFC4FD;
$pink: #FEC3CA;
$green: #A8FD64;

// Color assignments
$page-background: $blue;
$accent-color: #fff;
$meal-breakfast: $yellow;
$meal-main: $green;
$meal-tapas: $pink;
$meal-treat: $orange;

// Spacing
$space-large: 50px;

$module-space: 80px;

// Breakpoints
$break-hand: 700px;
