.header {
  position: relative;
}

.recipe-box-logo {
  width: 286px;
}

.about-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  text-align: right;
  max-width: 350px;
}
