.color--accent { color: $color-accent; }
.color--default { color: $color-default; }
.color--user { color: $color-user; }
.color--cuisine { color: $color-cuisine; }
.color--edited { color: $color-edited; }
.color--breakfast { color: $color-breakfast; }
.color--main { color: $color-main; }
.color--tapas { color: $color-tapas; }
.color--treat { color: $color-treat; }
