.color--accent { color: $color-accent; }
.color--user { color: $color-user; }
.color--breakfast { color: $color-breakfast; }
.color--main { color: $color-main; }
.color--tapas { color: $color-tapas; }
.color--treat { color: $color-treat; }
