.spacer {
  margin-top: $space-medium;
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 4px;
    width: 250px;
    background: #000;
  }
}

.adjacent-record {
  font-family: serif;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 38px;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}
