.recipe__adjectives {
  @extend %ibfix;

  .nested-fields,
  .links {
    @extend %regular-sans;
  }

  .nested-fields {
    display: inline-block;
    width: 200px;
    margin-right: 10px;

    .input {
      margin: 0;
    }

    input {
      width: 100%;
    }
  }
}

.remove_fields {

}
