.recipes {
  @extend %row;
  text-align: center;
}

.recipe {
  @extend %module;
  display: inline-block;
  width: 300px;
  text-align: center;

  &__title {
    @extend %medium-serif;
  }

  &.meal-type--breakfast a { color: $color-breakfast; }
  &.meal-type--main a      { color: $color-main; }
  &.meal-type--tapas a     { color: $color-tapas; }
  &.meal-type--treat a     { color: $color-treat; }
}

.recipe--show {
  &__info {
    @extend %module;
  }

  &__nav {
    @extend %module;
    position: relative;
  }

  &__title {
    @extend %large-serif;
    text-align: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  &__caption {
    @extend %medium-sans;
    margin-top: $space-large;
    text-align: center;
  }

  &__ingredients,
  &__procedure {
    @extend %module;
  }

  &__ingredients__title,
  &__procedure__title {
    @extend .color--accent;
  }
}
